<div class="score-board-view">
    <input type="text" v-model="playerFirstName" />
    <input type="text" v-model="playerLastName" />
    <!-- <p><span>{{playerFirstName}}</span>&nbsp<span>{{playerLastName}}</span></p> -->
    <p>{{playerFullName}}</p>
    <p>{{score}}</p>
    <button v-on:click="incrementScore">
        <span class="icon is-small">
            <svg>
                <use xlink:href="~feather#chevron-right" />
            </svg>
        </span>
        Incrementsddddk
    </button>
</div>