<div class="test-view">
    <h3>This is a test</h3>
    <router-link to="/dashboard">Go to Dashboard</router-link>
    <button v-on:click="go(id)">To Test {{players[0].name}}</button>
    <n-file-select id="foo" mime-types=".xlsx" :max-file-size="500" @select="onFileSelected"></n-file-select>
    <component-a :num="id" :sport="players.takeLast()"></component-a>

    <div v-for="player of players">
        <button @click="clicked(player)">{{player.name}}</button>
    </div>

    <!-- <component-a :key="player.name" v-for="(player, index) of players"  :sport="player"></component-a>
    
    <component-a :key="player.name.split('').reverse().join('')" v-for="player of players" :num="id" :sport="player"></component-a>
    
    <n-expanding-container>
        <component-a :num="id" :sport="players.takeLast()"></component-a>
    </n-expanding-container>
    
    <n-expanding-container :render-key="300">
        <component-a :key="player.name" v-for="player of players" :num="id" :sport="player"></component-a>
    </n-expanding-container>
    
    <div :key="player.name" v-for="player of players">
        <component-a :num="id" :sport="player"></component-a>
        <component-a :num="id" :sport="player"></component-a>
    </div> -->

    <non-reorderable-list :list-items="players">
        <template #list-item-1="pro">
            <p>{{pro.item.data.name}}</p>
        </template>
        <template #list-item-2="props">
            <h1>{{props.item.data.name}}</h1>
        </template>
    </non-reorderable-list>

    <file-uploader></file-uploader>
</div>